body{
	margin: 0;
}

/*-------------------------------------------------------------------------------------------*/
/*----------------------------------------upperSection---------------------------------------*/

.div-containerUpperSectionRender{
	width: 100%;
	height: 300px;
	margin: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}
.div-containerUpperSectionRender_img{
	filter: blur(1.5px) brightness(1.5);
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 100%;
	display: grid;
	position: relative;
	z-index: 10;
	grid-column: 1/2;
	grid-row: 1/2;
}
.div-containerUpperSectionRender_header-glass{
	background-color: #0095;
	width: 100%;
	height: 100%;
	grid-column: 1/2;
	grid-row: 1/2;
	display: grid;
	position: relative;
	z-index: 20;
}

/*----------------------------------------upperSectionNavbar---------------------------------------*/

.div-containerUpperSectionRender_header_nav{
	background-color:  #0017;
	width: 100%;
	height: 58px;
	position: fixed;
	z-index: 30;
	display: grid;
	grid-template-columns: repeat(3,minmax(max-content,1fr));
	grid-template-rows: 100%;
}

/*----------------------------------------upperSectionNavbarFirtsMenu---------------------------------------*/

.div-containerUpperSectionRender_header_nav_div-menu1Position1{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}
.div-containerUpperSectionRender_header_nav_div_button-close1{
	width: 250px;
	height: 58px;
	border: 0;
	border-radius: 5px;
	background-color: #444;
	color: #fff;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(2,17%);
	grid-template-rows: 100%;
	position: relative;
	z-index: 40;
}
.div-containerUpperSectionRender_header_nav_div_button_p-burgerText{
	width: max-content;
	font-size: 30px;
	transform: rotate(90deg);
	margin: 0;
	padding: 10px;
}
.div-containerUpperSectionRender_header_nav_div_button_h3-pageName1{
	width: max-content;
	font-size: 25px;
	margin: 0;
	padding: 12px 10px 10px 10px;
}
.div-containerUpperSectionRender_header_nav_div_div1{
	width: 100%;
	height: 100%;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open1{
	background-color: #444;
	color: #fff;
	border: 0;
	border-radius: 5px;
	width: 250px;
	height: 58px;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(2,17%);
	grid-template-rows: 58px 100%;
	overflow: scroll;
	overflow: hidden;
	position: relative;
	z-index: 50;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ul-positionColumn{
	width: 100%;
	height: 100%;
	display: grid;
	list-style: none;
	position: relative;
	z-index: 60;
	font-size: 30px;
	jystify-item: start;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ul_li_a:link{
	color: #000;
	text-decoration: none;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ul_li_a:visited{
	color: #000;
	text-decoration: none;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open1:hover{
	transition-duration: 2592000s;
	position: fixed;
	width: 33.3%;
	height: 7.4%;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open1:focus{
	background-color: #444;
	transition-duration: 0.3s;
	width: 400px;
	height: 100%;
	position: fixed;
	z-index: 35;
}

/*----------------------------------------upperSectionNavbarSecondMenu---------------------------------------*/

.div-containerUpperSectionRender_header_nav_div-menu2Position2{
	display: grid;
	grid-column: 3/4;
	grid-row: 1/2;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	justify-items: end;
}
.div-containerUpperSectionRender_header_nav_div_button-close2{
	width: 50px;
	height: 58px;
	border: 0;
	border-radius: 5px;
	background-color: #555;
	color: #fff;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(2,12%);
	grid-template-rows: 100%;
	position: relative;
	z-index: 40;
}
.div-containerUpperSectionRender_header_nav_div_button_p-pointText{
	width: 5px;
	height: 50px;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
}
.div-containerUpperSectionRender_header_nav_div_div2{
	width: 100%;
	height: 100%;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	justify-items: end;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open2{
	background-color: #555;
	color: #fff;
	border: 0;
	border-radius: 5px;
	width: 50px;
	height: 58px;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns:  repeat(2,10% 90%);
	grid-template-rows: 58px 5%;
	overflow: scroll;
	overflow: hidden;
	position: relative;
	z-index: 50;
}
.div-containerUpperSectionRender_header_nav_div_button_p-pointText2{
	width: 100%;
	height: 100%;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	justify-items: end;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ol-positionRow{
	width: 100%;
	height: 60%;
	margin: 0;
	list-style: none;
	display: grid;
	align-self: center;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(10,60px);
	position: relative;
	z-index: 60;
	font-size: 12px;
	align-items: center;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open2:hover{
	transition-duration: 2592000s;
	position: relative;
	width: 216.5px;
	height: 100%;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open2:focus{
	background-color: #666;
	transition-duration: 0.3s;
	width: 400px;
	height: 100%;
	position: relative;
	z-index: 35;
};

/*----------------------------------------------------------------------------------------------------*/

