body{
	margin: 0;
}

/*-------------------------------------------------------------------------------------------*/
/*-----------------------------upperSection--------------------------------*/

.div-containerUpperSectionRender{
	width: 100%;
	height: 300px;
	margin: 0;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}
.div-containerUpperSectionRender_img{
	filter: blur(1.5px) brightness(1.5);
	object-fit: cover;
	object-position: top;
	width: 100%;
	height: 100%;
	display: grid;
	position: relative;
	z-index: 10;
	grid-column: 1/2;
	grid-row: 1/2;
}
.div-containerUpperSectionRender_header-glass{
	background-color: #0095;
	width: 100%;
	height: 100%;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-rows: 58px 1fr;
	display: grid;
	position: relative;
	z-index: 20;
}

/*-------------------------upperSectionNavbar------------------------------*/

.div-containerUpperSectionRender_header_nav{
	background-color:  #0017;
	width: 100%;
	height: 58px;
	position: fixed;
	z-index: 30;
	display: grid; 
	grid-template-columns: repeat(3,minmax(max-content,1fr));
	grid-template-rows: 100%;
}

/*------------------------upperSectionNavbarFirtsMenu----------------------*/

.div-containerUpperSectionRender_header_nav_div-menu1Position1{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
}
.div-containerUpperSectionRender_header_nav_div_button-close1{
	width: 250px;
	height: 58px;
	border: 0;
	border-radius: 5px;
	background-color: #444;
	color: #fff;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(2,17%);
	grid-template-rows: 100%;
	position: relative;
	z-index: 40;
}
.div-containerUpperSectionRender_header_nav_div_button_p-burgerText{
	width: max-content;
	font-size: 30px;
	transform: rotate(90deg);
	margin: 0;
	padding: 10px;
}
.div-containerUpperSectionRender_header_nav_div_button_h3-pageName1{
	width: max-content;
	font-size: 25px;
	margin: 0;
	padding: 12px 10px 10px 10px;
}
.div-containerUpperSectionRender_header_nav_div_div1{
	width: 100%;
	height: 100%;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open1{
	background-color: #555;
	color: #fff;
	border: 0;
	border-radius: 5px;
	width: 250px;
	height: 58px;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(2,17%);
	grid-template-rows: 58px 100%;
	overflow: scroll;
	overflow: hidden;
	position: relative;
	z-index: 50;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ul-positionColumn{
	width: 100%;
	height: 70%;
	display: grid;
	list-style: none;
	position: relative;
	z-index: 60;
	font-size: 30px;
	jystify-item: start;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ul_li_a:link{
	color: #aaa;
	text-decoration: none;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ul_li_a:visited{
	color: #aaa;
	text-decoration: none;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open1:hover{
	transition-duration: 2592000s;
	position: fixed;
	width: 33.3%;
	height: 7.4%;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open1:focus{
	background-color: #444;
	transition-duration: 0.3s;
	width: 400px;
	height: 100%;
	position: fixed;
	z-index: 35;
}

/*----------------------upperSectionNavbarSecondMenu-----------------------*/

.div-containerUpperSectionRender_header_nav_div-menu2Position2{
	display: grid;
	grid-column: 3/4;
	grid-row: 1/2;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	justify-items: end;
}
.div-containerUpperSectionRender_header_nav_div_button-close2{
	width: 50px;
	height: 58px;
	border: 0;
	border-radius: 5px;
	background-color: #555;
	color: #fff;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(2,12%);
	grid-template-rows: 100%;
	position: relative;
	z-index: 40;
}
.div-containerUpperSectionRender_header_nav_div_button_p-pointText{
	width: 5px;
	height: 50px;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
}
.div-containerUpperSectionRender_header_nav_div_div2{
	width: 100%;
	height: 100%;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	justify-items: end;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open2{
	background-color: #555;
	color: #fff;
	border: 0;
	border-radius: 5px;
	width: 50px;
	height: 58px;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns:  repeat(2,10% 90%);
	grid-template-rows: 58px 5%;
	overflow: scroll;
	overflow: hidden;
	position: relative;
	z-index: 50;
}
.div-containerUpperSectionRender_header_nav_div_button_p-pointText2{
	width: 100%;
	height: 100%;
	font-size: 30px;
	margin: 0;
	padding: 0;
	display: grid;
	grid-column: 1/2;
	grid-row: 1/2;
	justify-items: end;
}
.div-containerUpperSectionRender_header_nav_div_div_button_ol-positionRow{
	width: 100%;
	height: 60%;
	margin: 0;
	list-style: none;
	display: grid;
	align-self: center;
	grid-column: 1/2;
	grid-row: 1/2;
	grid-template-columns: repeat(10,60px);
	position: relative;
	z-index: 60;
	font-size: 12px;
	align-items: center;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open2:hover{
	transition-duration: 2592000s;
	position: relative;
	width: 216.5px;
	height: 100%;
}
.div-containerUpperSectionRender_header_nav_div_div_button-open2:focus{
	background-color: #444;
	transition-duration: 0.3s;
	width: 400px;
	height: 100%;
	position: relative;
	z-index: 35;
}
/*------------------------upperSectionContent------------------------------*/

.div-containerUpperSectionRender_header_div-content{
	width: 100%;
	height: 100%;
	display: grid;
	grid-row: 2/3;
	grid-template-columns: repeat(3,1fr);
}
.div-containerUpperSectionRender_header_div_div-contacts{
	width: 100%;
	height: 100%;
	display: grid;
	grid-row: 1/2;
	grid-template-columns: repeat(2,170px);
	grid-template-rows: repeat(2,120px);
}
.div-containerUpperSectionRender_header_div_div_div-contactsFacebook{
	background-color: #ddd;
	border-radius: 0 25px;
	color: #000;
	font-size: 16px;
	width: 170px;
	height: 120px;
	display: grid;
}
.div-containerUpperSectionRender_header_div_div_div-facebook{
	border-radius: 0 25px;
	background-color: #00b;/*--------|-------|---------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|--------|*/
	clip-path: 		polygon(55% 20%, 45% 20%, 42% 21%, 39% 24%, 37% 28%, 37% 31%, 37% 42%, 32% 42%, 32% 52%, 37% 52%, 37% 75%, 47% 75%, 47% 52%, 55% 52%, 55% 42%, 47% 42%, 47% 34%, 48% 31%, 55% 31%);
}
.div-containerUpperSectionRender_header_div_div_div-facebook:hover{
	background-color: #ddd;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.div-containerUpperSectionRender_header_div_div_div-contactsGithub{
	background-color: #444;
	border: 1px solid #999;
	border-radius: 25px 0;
	color: #fff;
	font-size: 16px;
}
.div-containerUpperSectionRender_header_div_div_div-github{
	border-radius: 25px 0;
	background-color: #fff;
	clip-path: polygon(36% 25%, 36% 25%, 34% 23.5%, 30% 21%, 30% 20.9%, 25% 18%, 25% 21%, 25% 24%, 25% 28%, 25% 31%, 23.5% 34.3%, 22.3% 36%, 21.3% 38%, 20.3% 42%, 20% 45%, 20% 48%, 20% 50%, 21% 55%, 22% 58%, 25% 62%, 28% 65%, 32% 67%, 36% 68%, 42% 70%, 42% 70%, 41% 71%, 40% 73%, 39% 76%, 38% 77%, 35% 77%, 32% 77%, 30% 75%, 27% 72%, 25% 70%, 22% 68%, 19% 68%, 15% 68%, 12% 69%, 11% 71%, 12% 73%, 16% 73%, 19% 73%, 21% 74%, 23% 76%, 26% 79%, 28% 81%, 31% 83%, 35% 84%, 38% 84%, 38% 99%, 62% 99%, 61.5% 77%, 60% 73%, 58% 71%, 57% 70%, 64% 68.7%, 63% 69%, 66% 68%, 70% 66%, 73% 64%, 76% 60.5%, 77.7% 57%, 78.8% 54%, 79.5% 50%, 79.5% 50%, 79.5% 45%, 78.8% 42%, 77% 38%, 75% 35%, 74% 33%, 74% 31%, 74% 27%, 74% 27%, 74% 24%, 74% 21%, 74% 19%, 72% 20%, 70% 21%, 67% 23%, 65% 24%, 62% 25%, 60% 26%, 58% 25%, 54% 24%, 54% 24%, 46% 24%, 42% 25%, 38% 27%);
};

/*----------------------------------------------------------------------------------------------------*/

